* {
	box-sizing: border-box;
}

body {
  font-family: "Indie Flower", "Helvetica", "sans-serif";
  margin: 0;
  padding: 0;
  background: url(../img/gauntlet1.jpg) no-repeat center;
  background-size: cover;
}

ul {
	list-style: none;
	padding-left: 0;
}

.button {
	border: 1px solid black;
	border-radius: 5px;
}

.button:hover {
	background-color: black;
	color: white;
}

.text-center {
	text-align: center
}

.combat {
	background: url(../img/gauntlet2.jpg) no-repeat center;
  background-size: cover;
}


/*------------------

SELECT LAYOUT STYLES

-------------------*/

#select-headline {
	font-size: 4.5em;
}

.random-button {
	margin: 20px 0;
}

/*------------------

COMBAT LAYOUT STYLES

-------------------*/

#combat-screen {
	display: none;
}

.player-image,
.enemy-image {
	min-height: 250px;
	border: 1px solid black;
	background-color: white;
	box-shadow: -2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

#attack-area {
	margin-top: 100px;
	padding: 3px 10px;
}

#attack-button {
	border: 1px solid black;
	border-radius: 5px;
	text-align: center;
	padding: 10px 5px;
	background-color: white;
	width: 100%;
}

#attack-button:hover {

}

.stats {
	margin-top: 10px;
}
