* {
	box-sizing: border-box;
}

body {
  font-family: "Architects Daughter", "Helvetica", "sans-serif";
  font-weight: bold;
  margin: 0;
  padding: 0;
  background: url(../img/gauntlet1.jpg) no-repeat top;
  background-size: cover;
}

ul {
	list-style: none;
	padding-left: 0;
}

h1,
#select-content label {
	font-weight: bolder;
}

.button {
	border: 1px solid black;
	border-radius: 5px;
	padding: 0.25rem 1.5rem;
}

.button:hover {
	background-color: #ea0f38;
	color: white;
}

.text-center {
	text-align: center
}

.combat {
	background: url(../img/gauntlet2.jpg) no-repeat top;
  background-size: cover;
}

.row {
	margin: 0;
}


/*------------------

SELECT LAYOUT STYLES

-------------------*/

#select-content {
	width: 55%;
	margin-top: 50px;
	border-radius: 10px;
	background-color: rgba(245, 245, 245, .7);
	box-shadow: 0 0 5px 5px rgba(245, 245, 245, .7);
}

#select-buttons {
	margin-top: 20px;
	padding-bottom: 20px;
}

.col {
	margin-bottom: 20px;
}

#species-select[disabled],
#class-select[disabled],
#weapon-select[disabled],
input[disabled] {
	background-color: lightgrey;
}

button[disabled] {
	color: grey;
}

button[disabled]:hover {
	color: grey;
	background: lightgrey;
}

/*------------------

COMBAT LAYOUT STYLES

-------------------*/

#combat-screen {
	display: none;
}

#field-container {
	text-align: center;
}

#field {
	height: 400px;
	border-radius: 10px;
	box-shadow: 0 0 5px 5px rgba(245, 245, 245, .7);
}

#combat-headline {
	margin: 50px 0 20px 0;
	padding-left: 70px;
}

#attack-area {
	/*margin-top: 100px;*/
	padding: 3px 10px;
}

#attack-button {
	text-align: center;
	margin: 1rem 0;
	padding: 10px 5px;
	width: 100%;
	font-size: 1.3em;
	font-weight: bolder;
}

#player-attributes {
	margin: 0 20px;
	font-size: 1.3em;
}

.player,
.enemy,
#comments {
	border-radius: 10px;
	background-color: rgba(245, 245, 245, .7);
	box-shadow: 0 0 5px 5px rgba(245, 245, 245, .7);
}

.stat-name {
	text-decoration: underline;
}

.stats {
	margin-top: 10px;
}
